@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-post {
  margin-top: 100px;;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-post .center-post {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 7px 10px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 50px;
}
.login-post .center-post  img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.credts {
  margin-top: 50px;
}
.credts p{
  text-align: center;
}
.credts p a{
  text-decoration: none;
  color: red;
}
